<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
</head>

<body>
    <%- include('partials/header') -%>
    <main class="become-member">
        <h1>Enter your member code</h1>
        <section class="form-container">
            <form method="post" action="" class="become-member-form">
                <input name="member_code" placeholder="Enter member code" type="password" required="true" maxlength="100" />
                <button>Submit</button>
            </form>
        </section>
    </main>
</body>

</html>