<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='viewport' content='width=device-width, initial-scale=1' />
</head>

<body>
    <%- include('partials/header') -%>
    <main class="create-message">
        <h1>Submit a new message</h1>
        <% if (errors) {%>
            <div class="errors">
                <ul
                    <% errors.forEach((error)=> {%>
                        <li>
                            <%= error.msg %>
                        </li>
                    <%}) %>
                </ul>
            </div>
        <%}%>
        <section class="form-container">
            <form method="post" action="" class="create-message-form">
                <input name="title" placeholder="title" type="text" required="true" maxlength="100" />
                <textarea name="content" placeholder="content" type="text" required="true" maxlength="1000" rows="4" cols="50"></textarea>
                <button>Submit</button>
            </form>
        </section>
    </main>
</body>

</html>