<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
        <div>
            <form method="post" action="">
                <label for="title">Title</label>
                <input name="title" placeholder="title" type="text" required="true" maxlength="100" />
                <label for="content">Content</label>
                <input name="content" placeholder="content" type="text" required="true" maxlength="1000" />
                <button>Submit</button>
            </form>
        </div>
</body>

</html>