<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <% if (currentUser) {%>
        <h1>WELCOME BACK <%= currentUser.username %>
        </h1>
        <a href="/logout">LOG OUT</a>

        <a href="/create-message">CREATE MESSAGE</a>
      <% } else { %>
        
          <a href="/sign-up">
            <button>Sign Up</button>
          </a>

          <a href="/login">
            <button>Login</button>
          </a>
      <%}%>
      <% if (messages.length === 0) {%>
          <h1>No messages yet!</h1>
        <% } else {%>
          <h1>Messages</h1>
          <p>
            You must be a member to view the authors and dates of messages.
          </p>
          <% messages.forEach((message)=> {%>
            <div>
              <h2>
                <%= message.title %>
              </h2>
              <p>
                <%= message.content %>
              </p>
            </div>
          <% }) 
        }%>
        <%
      %>
  </body>
</html>
